body {
	
  background-image: url("PageBackground.png");
  background-repeat: repeat;
  image-rendering: crisp-edges;
  background-color: rgba(0, 0, 0, .2);
  
  color: white;
}

@font-face {
  font-family: 'Minecraftia';
  src: url('fonts/Minecraftia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, h1, h2, h3, p {
  font-family: 'Minecraftia', monospace;
}
