body {
	
  font-family: arial;
  background-image: url("PageBackground.png");
  background-repeat: repeat;
  image-rendering: crisp-edges;
  background-color: rgba(0, 0, 0, .2);
  
  color: white;
}
